@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-family: "EB Garamond", serif;

    box-sizing: border-box;
}

:root {

    --red-color-900 : #8B1E1E;
    --red-color-500 : #C73A35;
    --red-color-100 : #EFC7CC;

    --white-color-900 : #FFFFFF;
    --white-color-500 : #C2C2C2;
    --white-color-100 : #FAFAFA;
    
    --black-color-900 : #000000;
    --black-color-500 : #7B7B7B;
    --black-color-100 : #E9E9E9;

    --turqoise-color-900 : #1D41A7;
    --turqoise-color-500 : #2191FB;
    --turqoise-color-100 : #BBDDFE;

    --cerulean-color-900 : #00548A;
    --cerulean-color-500 : #00A5E0;
    --cerulean-color-100 : #B2E3F4;

}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

/* Template CSS */

.container {
    width: 70%;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.col-2 {
    grid-template-columns: auto auto;
}

.flex-col {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}


/* Detailed CSS */

/* Nav Start */

.nav {
    height: 4rem;
    box-shadow: 0 4px 1rem rgb(0 0 0 / 15%);
    position: sticky;
    background-color: var(--white-color-900);
    top: 0;
    z-index: 4;
}

.nav .container {
    margin: 0 auto;
    height: 100%;
}

.nav .container .logo {
    height: 80%;
    margin-right: auto;
    gap: 1rem;
}

.nav .container .logo img {
    height: 100%;
    object-fit: cover;
}

.nav .container .logo .logo-text {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--red-color-900);
}

.nav .container .menus {
    gap: 2rem;
    margin-right: 2rem;
}

.nav .container .menu a {
    display: block;
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--black-color-900);
    transition: color .25s ease;
}

.nav .container .menu a:hover {
    color: var(--cerulean-color-500);
}

.nav .container .menu.active a {
    color: var(--cerulean-color-500);
}

.nav .container .login {
    height: 100%;
}

.nav .container .login img {
    height: 1.75rem;
    width: 1.75rem;
    object-fit: cover;
    cursor: pointer;
}

/* Nav End */

/* Hero Start */

.hero {
    min-height: 100vh;
    position: relative;
}

.hero .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.hero .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.hero .slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .overlay {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    position: absolute;
    inset: 0;
    z-index: 2;
}

.hero .container {
    margin: 0 auto;
    min-height: inherit;
    position: absolute;
    inset: 0;
    z-index: 3;
    height: 100%;
}

.hero .container .greeting {
    font-size: 4rem;
    text-align: center;
    color: var(--white-color-900);
    text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    margin-top: auto;
    margin-bottom: 1rem;
}

.hero .container .desc {
    font-size: 1.5rem;
    text-align: center;
    color: var(--white-color-900);
    text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    margin-bottom: 2rem;
}

.hero .container .cta {
    display: block;
    text-decoration: none;
    padding: .5rem 1.25rem;
    font-size: 1.25rem;
    color: var(--white-color-900);
    border-radius: 1rem;
    background-color: var(--cerulean-color-500);
    transition: background-color .25s ease, transform .25s ease;
    margin-bottom: auto;
}

.hero .container .cta:hover {
    background-color: var(--cerulean-color-900);
    transform: scale(1.05);
}

.hero .container .slide-navigator {
    gap: 1rem;
    margin-bottom: 8vh;
}

.hero .container .slide-navigator .dot {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgb(0 0 0 / 50%);
    cursor: pointer;
    transition: background-color .25s ease;
}

.hero .container .slide-navigator .dot.active {
    background-color: rgb(0 0 0 / 75%);
    position: relative;
}

.hero .container .slide-navigator .dot.active::after {
    content: "";
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: rgb(255 255 255 / 100%);
    position: absolute;
    inset: 25%;
}

.hero .container .slide-navigator .dot:hover {
    background-color: rgb(0 0 0 / 75%);
}

/* Hero End */

/* About Us Start */

.about {
    min-height: 100vh;
    background-color: var(--white-color-100);
}

.about .container {
    margin: 0 auto;
    gap: 4rem;
    padding: 4rem 0;
}

.about .container .left {
    gap: 1rem;
}

.about .container .left .title {
    font-size: 4rem;
    font-weight: 500;
}

.about .container .left .desc {
    font-size: 1.5rem;
    color: var(--black-color-500);
}

.about .container .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.about .container .right {
    gap: 1rem;
}

.about .container .right .row:first-child {
    margin-top: auto;
}

.about .container .right .row .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--red-color-500);
}

.about .container .right .row .desc {
    font-size: 1.5rem;
    text-align: justify;
}

.about .container .right .row.cta a {
    gap: 1rem;
    text-decoration: none;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.about .container .right .row.cta a .icon {
    height: 3rem;
    width: 3rem;
    background-color: var(--black-color-500);
    border-radius: 50%;
    padding: 1rem;
    position: relative;
    transition: background-color .25s ease;
}

.about .container .right .row.cta a:hover .icon {
    background-color: var(--black-color-900);
}

.about .container .right .row.cta a .icon img {
    width: 2rem;
    height: 2rem;
    display: block;
    object-fit: contain;
    position: absolute;
    inset: 18%;
    filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(115deg) brightness(108%) contrast(108%);
}

.about .container .right .row.cta a .text {
    font-size: 1.5rem;
    color: var(--black-color-900);
}

/* About Us End */
