@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-family: "EB Garamond", serif;

    box-sizing: border-box;
}

:root {

    --red-color-900 : #8B1E1E;
    --red-color-500 : #C73A35;
    --red-color-100 : #EFC7CC;

    --white-color-900 : #FFFFFF;
    --white-color-500 : #C2C2C2;
    --white-color-400 : #dedede;
    --white-color-300 : #F0F0F0;
    --white-color-100 : #FAFAFA;
    
    --black-color-900 : #000000;
    --black-color-800 : #262626;
    --black-color-500 : #7b7b7b;
    --black-color-100 : #E9E9E9;

    --turqoise-color-900 : #1D41A7;
    --turqoise-color-500 : #2191FB;
    --turqoise-color-100 : #BBDDFE;

    --cerulean-color-900 : #00548A;
    --cerulean-color-500 : #00A5E0;
    --cerulean-color-100 : #B2E3F4;

}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

/* Template CSS */

.container {
    width: 70%;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.col-2 {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
}

.flex-col {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.rotate-45-deg {
    transform: rotate(-45deg);
}


/* Detailed CSS */

/* Nav Start */

.nav {
    height: 4rem;
    box-shadow: 0 4px 1rem rgb(0 0 0 / 15%);
    position: sticky;
    background-color: var(--white-color-900);
    top: 0;
    z-index: 4;
}

.nav .container {
    margin: 0 auto;
    height: 100%;
}

.nav .container .logo {
    height: 80%;
    margin-right: auto;
    gap: 1rem;
}

.nav .container .logo img {
    height: 100%;
    object-fit: cover;
}

.nav .container .logo .logo-text {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--red-color-900);
}

.nav .container .menus {
    gap: 2rem;
    margin-right: 2rem;
}

.nav .container .menu a {
    display: block;
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--black-color-900);
    transition: color .25s ease;
}

.nav .container .menu a:hover {
    color: var(--cerulean-color-500);
}

.nav .container .menu.active a {
    color: var(--cerulean-color-500);
}

.nav .container .login {
    height: 100%;
}

.nav .container .login img {
    height: 1.75rem;
    width: 1.75rem;
    object-fit: cover;
    cursor: pointer;
}

.nav .container .menus-small img {
    height: 2rem;
    width: 2rem;
    object-fit: cover;
    cursor: pointer;
    display: none;
}

.nav .container .menus-small .menus-small-menus {
    width: 100%;
    background-color: var(--white-color-900);
    position: absolute;
    left: 0;
    right: 0;
    top: 4rem;
    display: none;
    grid-template-rows: 0fr;
    transition: grid-template-rows .5s ease;
}

.nav .container .menus-small .menus-small-menus.expanded {
    grid-template-rows: 1fr;
}

.nav .container .menus-small .menus-small-menus .menus-wrapper {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
}

.nav .container .menus-small .menus-small-menus .menus-wrapper .menu {
    margin: 1rem 0;
}

/* Nav End */

/* Hero Start */

.hero {
    min-height: 100vh;
    position: relative;
}

.hero .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.hero .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.hero .slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .overlay {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    position: absolute;
    inset: 0;
    z-index: 2;
}

.hero .container {
    margin: 0 auto;
    min-height: inherit;
    position: absolute;
    inset: 0;
    z-index: 3;
    height: 100%;
}

.hero .container .greeting {
    font-size: 4rem;
    text-align: center;
    color: var(--white-color-900);
    text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    margin-top: auto;
    margin-bottom: 1rem;
}

.hero .container .desc {
    font-size: 1.5rem;
    text-align: center;
    color: var(--white-color-900);
    text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    margin-bottom: 2rem;
}

.hero .container .cta {
    display: block;
    text-decoration: none;
    padding: .5rem 1.25rem;
    font-size: 1.25rem;
    color: var(--white-color-900);
    border-radius: 1rem;
    background-color: var(--cerulean-color-500);
    transition: background-color .25s ease, transform .25s ease;
    margin-bottom: auto;
}

.hero .container .cta:hover {
    background-color: var(--cerulean-color-900);
    transform: scale(1.05);
}

.hero .container .slide-navigator {
    gap: 1rem;
    margin-bottom: 8vh;
}

.hero .container .slide-navigator .dot {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgb(0 0 0 / 50%);
    cursor: pointer;
    transition: background-color .25s ease;
}

.hero .container .slide-navigator .dot.active {
    background-color: rgb(0 0 0 / 75%);
    position: relative;
}

.hero .container .slide-navigator .dot.active::after {
    content: "";
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: rgb(255 255 255 / 100%);
    position: absolute;
    inset: 25%;
}

.hero .container .slide-navigator .dot:hover {
    background-color: rgb(0 0 0 / 75%);
}

/* Hero End */

/* About Us Start */

.about {
    background-color: var(--white-color-100);
    min-height: 100vh;
}

.about .container {
    margin: 0 auto;
    gap: 4rem;
    min-height: inherit;
    padding: 4rem 0;
}

.about .container .left {
    gap: 1rem;
}

.about .container .left .title {
    font-size: 4rem;
    font-weight: 500;
    height: 100%;
}

.about .container .left .desc {
    font-size: 1.5rem;
    color: var(--black-color-500);
}

.about .container .left img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.about .container .right {
    justify-content: space-around;
    height: 100%;
}

.about .container .right .row .title {
    font-size: 2rem;
    margin-bottom: .5rem;
    color: var(--red-color-500);
}

.about .container .right .row .desc {
    font-size: 1.5rem;
    text-align: justify;
}

.about .container .right .row .desc ul li {
    font-size: 1.5rem;
}

.about .container .right .row.cta a {
    gap: 1rem;
    text-decoration: none;
}

.about .container .right .row.cta a .icon {
    height: 3rem;
    width: 3rem;
    background-color: var(--black-color-500);
    border-radius: 50%;
    padding: 1rem;
    position: relative;
    transition: background-color .25s ease;
}

.about .container .right .row.cta a:hover .icon {
    background-color: var(--black-color-900);
}

.about .container .right .row.cta a .icon img {
    width: 2rem;
    height: 2rem;
    display: block;
    object-fit: contain;
    position: absolute;
    inset: 18%;
    filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(115deg) brightness(108%) contrast(108%);
}

.about .container .right .row.cta a .text {
    font-size: 1.5rem;
    color: var(--black-color-900);
    text-align: justify;
}

/* About Us End */

/* Achievements Start */

.achievement {
    min-height: 100vh;
    background-color: var(--white-color-300);
}

.achievement .container {
    margin: 0 auto;
    min-height: inherit;
    padding: 5rem 0;
    gap: 1rem;
}

.achievement .container .row {
    border-radius: 1rem;
}

.achievement .container .row:not(:first-child) {
    background-color: var(--white-color-300);
    border: 1px solid rgb(0 0 0 / 15%);
}

.achievement .container .row.grid-header {
    background-image: url(../assets/images/univ-profile-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: fit-content;
}

.achievement .container .row.grid-header .title {
    font-size: 4rem;
    font-weight: 800;
    color: var(--white-color-100);
    text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    margin: 0 1rem;
}

.achievement .container .academic-achievement .left {
    background-image: url(../assets/images/univ-profile-2.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.achievement .container .academic-achievement:last-child .left {
    background-image: url(../assets/images/univ-profile-5.jpg);
}

.achievement .container .academic-achievement .left .title {
    font-size: 3rem;
    text-align: center;
    color: var(--white-color-900);
    text-shadow: 0px 4px 4px var(--black-color-900);
    width: 100%;
}

.achievement .container .academic-achievement .right {
    padding: 1rem;
    gap: 2rem;
}

.achievement .container .academic-achievement .right .desc{
    font-size: 1.75rem;
    padding: .5rem 1rem;
    text-align: justify;
}

.achievement .container .academic-achievement .right .accordion {
    gap: .5rem;
}

.achievement .container .academic-achievement .right .accordion .accordion-panel {
    background-color: rgb(222 222 222 / 50%);
    padding: 1rem 2rem;
    cursor: pointer;
    transition: box-shadow .5s ease;
}

.achievement .container .academic-achievement .right .accordion .accordion-panel:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
}

.achievement .container .academic-achievement .right .accordion .accordion-panel .accordion-header 
.panel-title {
    font-size: 1.75rem;
    font-weight: 600;
    margin-right: auto;
}

.achievement .container .academic-achievement .right .accordion .accordion-panel .accordion-header 
.panel-control {
    display: block;
    height: 1.75rem;
    width: 1.75rem;
    transition: transform .5s ease;
}

.achievement .container .academic-achievement .right .accordion .accordion-panel 
.accordion-content-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .5s ease;
}

.achievement .container .academic-achievement .right .accordion .accordion-panel
.accordion-content-wrapper.expanded {
    grid-template-rows: 1fr;
}

.achievement .container .academic-achievement .right .accordion .accordion-panel 
.accordion-content-wrapper .accordion-content {
    overflow: hidden;
}

.achievement .container .academic-achievement .right .accordion 
.accordion-panel .accordion-content-wrapper .accordion-content ul {
    list-style-position: inside;
}

.achievement .container .academic-achievement .right .accordion 
.accordion-panel .accordion-content-wrapper .accordion-content ul li{
    font-size: 1.25rem;
    margin: 1rem 0;
    text-align: justify;
}

.achievement .container .academic-achievement .right .accordion .accordion-panel 
.accordion-content-wrapper .accordion-content p{
    font-size: 1.25rem;
    text-align: justify;
    margin: 1rem 0;
}

/* Achievements End */

/* Contact Start */

.contact {
    min-height: 100vh;
    background-color: var(--white-color-100);
}

.contact .container {
    margin: 0 auto;
    padding: 5rem 0;
}

.contact .container .contact-form {
    gap: 2rem;
}

.contact .container .contact-form .title {
    font-size: 4rem;
    font-weight: 500;
    height: 100%;
}

.contact .container .contact-form form {
    gap: 2rem;
}

.contact .container .contact-form form label {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 .25rem;
}

.contact .container .contact-form form input {
    display: block;
    width: 100%;
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 1rem;
    border-style: none;
    border: 1px solid rgb(123 123 123 / 50%);
}

.contact .container .contact-form form input:hover {
    border: 1px solid var(--black-color-900);
}

.contact .container .contact-form form textarea {
    display: block;
    width: 100%;
    resize: none;
    height: 5rem;
    border-radius: 1rem;
    border-style: none;
    border: 1px solid rgb(123 123 123 / 50%);
    padding: .5rem;
    text-align: justify;
}

.contact .container .contact-form form textarea:hover {
    border: 1px solid var(--black-color-900);
}

.contact .container .contact-form form input[type=submit] {
    cursor: pointer;
    transition: color .5s ease, background-color .5s ease;
}

.contact .container .contact-form form input[type=submit]:hover {
    background-color: var(--black-color-900);
    color: var(--white-color-900);
}

.contact .container .contact-form form input[type=button] {
    cursor: pointer;
    transition: color .5s ease, background-color .5s ease;
}

.contact .container .contact-form form input[type=button]:hover {
    background-color: var(--black-color-900);
    color: var(--white-color-900);
}

.contact .container .contact-form form .form-group:last-child {
    gap: 2rem;
}

.contact .container .contact-form form .form-name-error {
    padding: 0 .5rem;
    color: var(--red-color-500);
}

.contact .container .contact-form form .form-email-error {
    padding: 0 .5rem;
    color: var(--red-color-500);
}

.contact .container .contact-form form .form-phone-error {
    padding: 0 .5rem;
    color: var(--red-color-500);
}

.contact .container .contact-form form .form-message-error {
    padding: 0 .5rem;
    color: var(--red-color-500);
}

.contact .container .contact-response {
    gap: 2rem;
    padding: 0 1rem;
    max-height: 42rem;
    overflow: auto;
}

.contact .container .contact-response::-webkit-scrollbar {
    display: none;
}

.contact .container .contact-response .response-title {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.contact .container .contact-response .response-body {
    gap: 1rem;
    padding: 1rem;
}

.contact .container .contact-response .response-body .response-card {
    background: linear-gradient(45deg, var(--black-color-100), var(--white-color-400), var(--white-color-500));
    padding: 1rem;
    border-radius: 1rem;
    gap: .5rem;
}

.contact .container .contact-response .response-body .response-card .response-message {
    gap: .5rem;
}

/* Contact End */

/* Footer Start */
.footer {
    background-color: var(--black-color-800);
    height: 5rem;
}

.footer .container {
    margin: 0 auto;
    height: 100%;
    justify-content: space-between;
}

.footer .container .copy-text {
    text-align: center;
    color: var(--white-color-900);
    font-size: 1.75rem;
}

.footer .container .copy-icon {
    gap: 3rem;
}

.footer .container .copy-icon img {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(114deg) brightness(108%) contrast(107%);
}

.footer .container .copy-icon img:nth-child(3),
.footer .container .copy-icon img:nth-child(4) {
    height: 3rem;
    width: 3rem;
}

/* Footer End */

/* Animations */

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Popup */

#popup {
    position: fixed;
    width: 40%;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    z-index: 5;
    background: linear-gradient(to right, var(--red-color-500), var(--red-color-900));
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--black-color-500);
    display: none;
}

#popup.show {
    display: block;
}

#popup .popup-header {
    justify-content: space-between;
}

#popup .popup-header .title {
    font-size: 2rem;
    color: var(--white-color-900);
    text-shadow: 0 4px 4px var(--black-color-900);
}

#popup .popup-header img {
    height: 1.75rem;
    width: 1.75rem;
    cursor: pointer;
    display: block;
    filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(114deg) brightness(108%) contrast(107%);
}

#popup p {
    font-size: 1rem;
    color: var(--white-color-900);
    text-shadow: 0 4px 4px var(--black-color-900);
    margin: 1rem 0;
}

#popup #popup-form {
    gap: 1rem;
}

#popup #popup-form .form-group {
    gap: .25rem;
}

#popup #popup-form .form-group label{
    display: block;
    font-size: 1rem;
    color: var(--white-color-900);
}

#popup #popup-form .form-group input {
    display: block;
    padding: .5rem;
    border-radius: 1rem;
    border-style: none;
}

#popup #popup-form .form-group input[type="submit"] {
    cursor: pointer;
    transition: background-color .5s ease, color .5s ease;
}

#popup #popup-form .form-group input[type="submit"]:hover {
    background-color: var(--black-color-800);
    color: var(--white-color-100);
}

#popup #popup-form .form-group .form-user-name-error {
    padding: 0 .5rem;
    color: var(--black-color-900);
}

/* Responsive CSS */

@media screen and (max-width: 1337px) {
    .about .container.col-2 {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    .about .container .right {
        gap: 2rem;
    }
}

@media screen and (max-width: 1100px) {
    .nav .logo-text {
        font-size: 1.5rem;
    }

    .nav .menus .menu{
        font-size: 1rem;
    }
}

@media screen and (max-width: 1040px) {

    .nav .container .menus-small .menus-small-menus {
        display: grid;
    }

    .nav .container {
        gap: 1rem;
    }

    .nav .container .menus-small img {
        display: block;
    }

    .nav .logo-text {
        display: none;
    }

    .nav .menus {
        display: none;
    }
}

@media  screen and (max-width: 767px) {
    
    .nav .logo-text {
        display: none;
    }

    .nav .menus {
        display: none;
    }

    .about .container.col-2 {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    .about .container .right {
        gap: 2rem;
    }

    .achievement .container .row:first-child .title {
        font-size: 3rem;
        text-align: center;
    }

    .achievement .container .row.academic-achievement.col-2 {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    .achievement .container .row.academic-achievement .left{
        background-size: cover;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0;
    }

    .contact .container .contact-form .title {
        font-size: 3rem;
    }

    .contact .container.col-2 {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        gap: 2rem;
    }

    .footer {
        height: fit-content;
    }

    .footer .container {
        flex-direction: column;
        gap: 2rem;
    }

    #popup {
        width: 60%;
    }

}

@media screen and (max-width: 585px) {

    .hero .container .greeting {
        font-size: 2rem;
    }

    .achievement .container .row:first-child .title {
        font-size: 2rem;
        flex-basis: 100%;
    }

    .achievement .container .row:nth-child(2) .left .title {
        font-size: 2rem;
    }

    .achievement .container .row:nth-child(2) .right .desc {
        font-size: 1.25rem;
    }

    .achievement .container .row:nth-child(3) .left .title {
        font-size: 2rem;
    }

    .achievement .container .row:nth-child(3) .right .desc {
        font-size: 1.25rem;
    }

    .achievement .container .academic-achievement .right .accordion 
    .accordion-panel .accordion-content-wrapper .accordion-content ul li {
        text-align: left;
    }
    
    .achievement .container .academic-achievement .right .accordion 
    .accordion-panel .accordion-content-wrapper .accordion-content p {
        text-align: left;
    }

    .footer .container .copy-text {
        font-size: 1.25rem;
    }

    .footer .container .copy-icon img {
        height: 1.25rem;
        width: 1.25rem;
    }

    .footer .container .copy-icon img:nth-child(3),
    .footer .container .copy-icon img:nth-child(4) {
        height: 1.75rem;
        width: 1.75rem;
    }

    #popup {
        width: 60%;
    }
}