@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-family: "EB Garamond", serif;

    box-sizing: border-box;
}

:root {

    --primary-color : #8B1E1E;
    --secondary-color : #FFFFFF;
    --tertiary-color : #000000;
    --quartenary-color : #2191FB;
    --quinary-color : #00A5E0;

}

/* Template CSS */

.container {
    width: 60%;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}


/* Detailed CSS */

/* Nav Start */

.nav {
    height: 5rem;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    position: sticky;
    background-color: var(--secondary-color);
    top: 0;
}

.nav .container {
    margin: 0 auto;
    height: 100%;
}

.nav .container .logo {
    height: 100%;
    margin-right: auto;
    gap: 1rem;
}

.nav .container .logo img {
    height: 100%;
    object-fit: cover;
}

.nav .container .logo .logo-text {
    font-size: 2rem;
    color: var(--primary-color);
}

.nav .container .menus {
    gap: 2rem;
    margin-right: 2rem;
}

.nav .container .menu a {
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--tertiary-color);
    transition: color .25s ease;
}

.nav .container .menu a:hover {
    color: var(--quinary-color);
}

.nav .container .login {
    height: 100%;
}

.nav .container .login img {
    height: 2rem;
    width: 2rem;
    object-fit: cover;
    cursor: pointer;
}

/* Nav End */

/* Hero Start */

.hero {
    min-height: 100vh;
    background-color: var(--quartenary-color);
    position: relative;
}

.hero .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.hero .slide[data-active] {
    opacity: 1;
    z-index: 1;
}

.hero .slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .overlay {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    position: absolute;
    inset: 0;
    z-index: 2;
}

.hero .container {
    margin: 0 auto;
    min-height: inherit;
    position: absolute;
    inset: 0;
    z-index: 3;
    height: 100%;
}

.hero .container .greeting {
    font-size: 4rem;
    text-align: center;
    color: var(--secondary-color);
    text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    margin-top: auto;
    margin-bottom: 1rem;
}

.hero .container .desc {
    font-size: 1.5rem;
    text-align: center;
    color: var(--secondary-color);
    text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    margin-bottom: 2rem;
}

.hero .container .cta {
    display: block;
    text-decoration: none;
    padding: .5rem 1.25rem;
    font-size: 1.25rem;
    color: var(--secondary-color);
    border-radius: 1rem;
    background-color: var(--quinary-color);
    transition: background-color .25s ease, transform .25s ease;
    margin-bottom: auto;
}

.hero .container .cta:hover {
    background-color: var(--quartenary-color);
    transform: scale(1.05);
}

.hero .container .slide-navigator {
    gap: 1rem;
    margin-bottom: 2rem;
}

.hero .container .slide-navigator .dot {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgb(0 0 0 / 50%);
    cursor: pointer;
    transition: background-color .25s ease;
}

.hero .container .slide-navigator .dot.active {
    background-color: rgb(0 0 0 / 75%);
}

.hero .container .slide-navigator .dot:hover {
    background-color: rgb(0 0 0 / 75%);
}

/* Hero End */
